.list{
    overflow: hidden;
    border-color: brown;
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    width: 900px;
    height: auto;
    background-color: rgb(246, 239, 228);
    margin-top: 80px;
}

.title{
    text-align: center;
    color:darkgoldenrod ;
}
.input{
    margin-left: 20px;
    height: 40px;
    width: 850px;
}
.marker{
    margin-top: 50px;
}
.text-item{
    color: rgb(104, 106, 106);
    margin-left: 30px;
}
.line-task{
    margin-top: 20px;
}